@model MemberViewModel

@* 員工管理 - 詳細資訊 *@
<div>
    <table class="half">
        <tbody>
            <tr>
                <th>姓名</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>身份證字號</th>
                <td>@Model.IdentityNumber</td>
            </tr>
            <tr>
                <th>生日</th>
                <td>@Model.BirthDay.ToString("yyyy/MM/dd")</td>
            </tr>
            <tr>
                <th>電話</th>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <th>地址</th>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Line ID</th>
                <td>@Model.LineID</td>
            </tr>
            <tr>
                <th>WeChat ID</th>
                <td>@Model.WeChatID</td>
            </tr>
            <tr>
                <th class="">積分</th>
                <td class="">@Model.Integration</td>
            </tr>
            <tr>
                <th class="">免認證額度</th>
                <td class="">@Model.FreeChangingAmount</td>
            </tr>

            <tr>
                <th class="">會員密碼</th>
                <td class="">@Model.MemberPwd</td>
            </tr>
            <tr>
                @{
                    string lastConsumptionDate = Model.LastConsumptionDate == null ? "" : Convert.ToDateTime(Model.LastConsumptionDate).ToString("yyyy/MM/dd");
                }
                <th class="">最後消費日期</th>
                <td class="">@lastConsumptionDate</td>
            </tr>
            <tr>
                <th class="">建立日期</th>
                <th class="">@Model.ConstructTime.ToString("yyyy/MM/dd HH:mm:ss")</th>
            </tr>
            <tr>
                <th class="">更新日期</th>
                <td class="">@Model.UpdateTime.ToString("yyyy/MM/dd HH:mm:ss")</td>
            </tr>
            <tr>
                <th class="">操作人員</th>
                <td class="">@Model.OperatorName</td>
            </tr>
        </tbody>
    </table>
</div>