@model MemberMD

<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@* 會員管理 - 編輯 *@
<div class="">
    @using (Ajax.BeginForm("Update", "Member", new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "OnRequestBegin",
        OnSuccess = "OnRequestSuccess",
        OnFailure = "OnRequestFail"
    }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(x => x.RecordID)

        <div class="">
            <label>姓名</label>
            @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "", placeholder = "請輸入會員姓名" } })
            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
        </div>

        <div class="">
            <label>身份證字號</label>
            @Html.EditorFor(x => x.IdentityNumber, new { htmlAttributes = new { @class = "", placeholder = "完整身份證字號或末四碼" } })
            @Html.ValidationMessageFor(x => x.IdentityNumber, "", new { @class = "text-danger" })
        </div>

        <div class="">
            <label>西元生日</label>
            @Html.EditorFor(x => x.BirthDay, new { htmlAttributes = new { @class = "", @readonly = "readonly" } })
            @Html.ValidationMessageFor(x => x.BirthDay, "", new { @class = "text-danger" })
        </div>

        <div class="">
            <label>手機號碼</label>
            @Html.EditorFor(x => x.Phone, new { htmlAttributes = new { @class = "", placeholder = "09xxxxxxxx", @disabled = "disabled" } })
            @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })
        </div>

        <div class="">
            <label>住址</label>
            @Html.EditorFor(x => x.Address, new { htmlAttributes = new { @class = "", placeholder = "XX縣XX市XX區XX路(街)XX段XX-X號XX樓" } })
            @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
        </div>

        <div class="">
            <label>Email</label>
            @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "", placeholder = "xxx@gmail.com" } })
            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
        </div>

        <div class="">
            <label>Line ID</label>
            @Html.EditorFor(x => x.LineID, new { htmlAttributes = new { @class = "", placeholder = "" } })
            @Html.ValidationMessageFor(x => x.LineID, "", new { @class = "text-danger" })
        </div>

        <div class="">
            <label>WeChat ID</label>
            @Html.EditorFor(x => x.WeChatID, new { htmlAttributes = new { @class = "", placeholder = "" } })
            @Html.ValidationMessageFor(x => x.WeChatID, "", new { @class = "text-danger" })
        </div>

        <div class="">
            <label>免認證額度</label>
            @Html.EditorFor(x => x.FreeChangingAmount, new { htmlAttributes = new { @class = "", @type = "number", @min = "0", @step = "100", placeholder = "" } })
            @Html.ValidationMessageFor(x => x.FreeChangingAmount, "", new { @class = "text-danger" })
        </div>

        <div class="">
            <label>會員密碼</label>
            @Html.EditorFor(x => x.MemberPwd, new { htmlAttributes = new { @class = "", placeholder = "請輸入 6 - 20 字元長度密碼" } })
            @Html.ValidationMessageFor(x => x.MemberPwd, "", new { @class = "text-danger" })
        </div>

        <div class="">
            <input type="submit" class="btn" value="送出" />
        </div>
    }
</div>

<script>
    InitDatePicker($('#BirthDay'));
</script>